.composition {
  box-sizing: border-box;
  padding: 40px auto;
  background: -webkit-linear-gradient(360deg, #9e5bca, #cd7c65, #a4ae9a);
  background: linear-gradient(360deg, #9e5bca, #cd7c65, #a4ae9a);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
