.promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px;
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 40px auto;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 580px) {
  .promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
