.composition__item {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.composition__list:nth-of-type(1) .composition__item:nth-child(1)::after {
  border-bottom: 3px solid rgb(153, 84, 144);
  width: 200px;
  position: absolute;
  bottom: 30px;
  left: 220px;
  transform: rotate(20deg);
  content: "";
}
.composition__list:nth-of-type(1) .composition__item:nth-child(2)::after {
  border-bottom: 3px solid rgb(153, 84, 144);
  width: 180px;
  position: absolute;
  bottom: 70px;
  left: 230px;
  content: "";
}
.composition__list:nth-of-type(1) .composition__item:nth-child(3)::after {
  border-bottom: 3px solid rgb(153, 84, 144);
  width: 200px;
  position: absolute;
  top: 0;
  left: 220px;
  transform: rotate(-20deg);
  content: "";
}
.composition__list:nth-of-type(2) .composition__item:nth-child(1)::before {
  border-bottom: 3px solid rgb(153, 84, 144);
  width: 200px;
  position: absolute;
  bottom: 30px;
  left: -230px;
  transform: rotate(160deg);
  content: "";
}
.composition__list:nth-of-type(2) .composition__item:nth-child(2)::before {
  border-bottom: 3px solid rgb(153, 84, 144);
  width: 180px;
  position: absolute;
  bottom: 70px;
  right: 230px;
  content: "";
}
.composition__list:nth-of-type(2) .composition__item:nth-child(3)::before {
  border-bottom: 3px solid rgb(153, 84, 144);
  width: 200px;
  position: absolute;
  top: 0;
  left: -230px;
  transform: rotate(20deg);
  content: "";
}
@media screen and (max-width: 1340px) {
  .composition__list:nth-of-type(1)
    .composition__item:nth-child(2n + 1)::after {
    width: 150px;
  }
  .composition__list:nth-of-type(1) .composition__item:nth-child(2)::after {
    width: 130px;
  }
  .composition__list:nth-of-type(2)
    .composition__item:nth-child(2n + 1)::before {
    width: 150px;
    left: -190px;
  }
  .composition__list:nth-of-type(2) .composition__item:nth-child(2)::before {
    width: 130px;
  }
}
@media screen and (max-width: 1160px) {
  .composition__list:nth-of-type(1n) .composition__item:nth-child(1n)::after {
    border: 0;
    display: none;
  }
  .composition__list:nth-of-type(1n) .composition__item:nth-child(1n)::before {
    border: 0;
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .composition__item {
    font-size: 10px;
  }
}
