.promo__element {
  display: inline;
  margin-right: 50px;
  color: #8e6390;
  font-weight: 900;
}
.promo__element:nth-last-child(1) {
  margin-right: 0;
}
@media screen and (max-width: 580px) {
  .promo__element {
    font-size: 16px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: ridge 2px #8e6390;
  }
}
