.promo__button {
  background: #6d1b6c;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  border: 0;
  width: 300px;
  padding: 20px 0;
  transition: 0.3 linear;
  opacity: 1;
  color: white;
  text-shadow: 0 0 5px #d7af0a;
  text-decoration: none;
  align-self: center;
}
.promo__button:hover {
  opacity: 0.85;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .promo__button {
    width: 150px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
  }
}
