.promo__info {
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  background-color: aliceblue;
}
@media screen and (max-width: 780px) {
  .promo__info {
    font-size: 16px;
    padding: 10px;
  }
}
