.composition__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .composition__list {
    flex-direction: row;
  }
}
