.composition__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 500px;
}
@media screen and (max-width: 480px) {
  .composition__info {
    flex-direction: column;
  }
}
